.navbar{
	text-align: center;
}

#botao{
	text-align: center;
}

.jumbotron{
	background-color: #FFF575;
}

.botao{
	text-align: center;
}

.cpf{
	background-color: #FFF575;
}

body#background{
	background-color: #FFF559;
}

#contador{
	align-items: center;
	background-color: 
}